[l-mask] {
  visibility: hidden !important;
}

.selected {
  background: #ede9fe;
  color: #7c3aed;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.shadow-custom {
  -webkit-box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.shadow-custom:hover {
  -webkit-box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.075);
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.075);
}

#browse-container,
#util-container {
  width: calc((100% - 2rem * 2) / 5);
}

#feed-container {
  width: calc((100% - 2rem * 2) * 3 / 5);
}

#post-textbox {
  min-height: 12rem;
}

#user-menu {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease;
}

#post-modal-inner {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease;
}

#post-modal-bg {
  opacity: 0.7;
  transition: all 0.3s ease;
}

#user-menu.hidden-custom {
  opacity: 0;
  transform: scale(0.95);
}

#post-modal-inner.hidden-custom {
  opacity: 0;
  transform: scale(0.95);
}

#post-modal-bg.hidden-custom {
  opacity: 0;
}

#create-post {
  background-color: #8b5cf6 !important;
}

#create-post:hover {
  background-color: #a78bfa !important;
}
