#post-textbox {
  min-height: 12rem;
}

#user-menu {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease;
}

#post-modal-inner {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease;
}

#post-modal-bg {
  opacity: 0.7;
  transition: all 0.3s ease;
}

#user-menu.hidden-custom {
  opacity: 0;
  transform: scale(0.95);
}

#post-modal-inner.hidden-custom {
  opacity: 0;
  transform: scale(0.95);
}

#post-modal-bg.hidden-custom {
  opacity: 0;
}

#create-post {
  background-color: #8b5cf6 !important;
}

#create-post:hover {
  background-color: #a78bfa !important;
}
